@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center; 
  align-items: center;

  background-color: black;
  font-weight: 500;
}

.grid {
  display: grid;
  height: 80%;
  width: 80%;
background-color: white;

  grid-template-rows: repeat(2, max-content) repeat(3, 1fr);
  grid-template-columns:repeat(4, minmax(max-content, 1fr));
}

.top-left, .top-mid, .top-right {
  display: flex;
  background-color: lightgrey;
}

.top-left {
  background-color: lightgrey;
  grid-column: span 1; 
}

.circle {
  height: 6px;
  width: 6px;
  border-radius: 50%;

  border: solid grey;
  margin: 2px;
}

.top-mid {
  grid-column: span 2; 
  width: 100%;
}

.bar {
  height: 6px;
  width: 100%;
  border-radius: 3px;

  border: solid grey;
  margin: 2px;
}

.left-black {
  grid-column: span 1;
  grid-row: span 2; 

  background-color: black;
  color: white;

  display: grid;
  grid-template-columns: repeat(3, max-content) auto;
  grid-template-rows: repeat(4, max-content) auto;
}

.change:nth-child(2){
  display: flex;
  flex-direction: row;
}

.change:nth-child(6){
  display: flex;
  flex-direction: row;

}

.rotate {
    -ms-transform: rotate(180deg);
-webkit-transform: rotate(180deg); 
transform: rotate(180deg);
}

.change:nth-child(3) {
  grid-column: 3/-1;
}
.change:nth-child(4) {
  grid-column: 1/-1;
}
.change:nth-child(7) {
  grid-column: 3/-1;
}
.change:nth-child(8) {
  grid-column: 1/-1;
}

.change:last-child {
  grid-column: 1/-2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-purple {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2; 
  
  background-color: purple;
}

.right_header {
  height: 10px;
  display: flex;
  font-size: 1%;
  margin: 2px;
}

.right_content {
  grid-column: 3 / span 1;
  grid-row: 3 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
}

.right_content_artist {
  grid-column: 4 / span 1; 
}

.artists, .speakers {
  font-size: 15%;
}

span {
  background-color: purple;
}

.left-red {
  grid-row: 4 / -1;
  background-color: red;
}

.left-yellow {
  background-color: yellow;
}

